@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("swiper-bundle.min.css");
html{font-size: 1px;}

.blind{position: absolute !important;left: 0rem !important;top: 0rem !important;width: 1rem !important;height: 1rem !important; opacity: 0 !important; overflow: hidden;margin-left: -1rem !important;border: 0 none !important;background: transparent !important;color: transparent !important;}


.ut-scroll{overflow: hidden;max-height: 200rem;/* border: #ededed solid 1rem; */position: relative;}
.ut-scroll .testbox{background-image: linear-gradient( -180deg,#fafbfc,#eff3f6 90%);padding: 10rem;}

.txt-l{text-align:left !important;}
.txt-r{text-align:right !important;}
.txt-c{text-align:center !important;}

img{max-width: 100%;}
a:focus,button:focus,textarea:focus,
[tabindex]:not([tabindex='-1']):focus{outline: 3px solid rgba(0, 114, 255,0.5);border-radius: 2rem;}
button{cursor:pointer;background: none;border: none;}
button[disabled]{/* cursor:default */}





/* 인풋 리셋 */
input[type="number"], 
input[type="text"] {font-size: 14rem; border-radius: 3rem; padding: 8rem; padding-right: 50rem; border: 1rem solid #293445; background-color: #1e293b; color:#94a3b8; }



/* 라디오 박스 */
.radio {display:inline-flex; align-items: center;}
.radio span {font-size: 18rem; color:#fff;}
.radio input[type="radio"] {margin:0; padding:0; margin-right: 10rem; appearance: none; border: 1rem solid #394254; border-radius: 50%; width: 26rem; height: 26rem; }
.radio input[type="radio"]:checked {background: url(../img/common/icon_radio.svg) no-repeat; background-size: cover; border: 0}
.radio input[type="radio"]:disabled {background-color: lightgray; opacity: 0.7}
.radio input[type="radio"]:disabled + span {opacity: 0.7;}



.radio-tabmenu {margin-top: 30rem;}
.radio-menu {display: flex; justify-content: flex-start; align-items: center; margin-bottom: 10rem;}
.radio-menu label:first-of-type {margin-left: 0;}
.radio-menu label {margin-left: 10rem;}

.radio-content {}
.radio-content > div {display: none; padding: 20rem; border: 1rem solid #293445; background: #1e293b;}
.radio-content > div.isActive {display: block;}




/* 체크 박스 */
.checkbox {display:inline-flex; align-items: center; }
.checkbox span {font-size: 18rem; color:#fff;}
.checkbox input[type="checkbox"] {margin:0; padding:0; margin-right: 10rem; appearance: none; border: 1rem solid #394254; width: 26rem; height: 26rem;}
.checkbox input[type="checkbox"]:checked {background: url(../img/common/icon_check.svg) no-repeat; background-size: cover; border: 0}
.checkbox input[type="checkbox"]:disabled { background-color: lightgray; opacity: 0.7}
.checkbox input[type="checkbox"]:disabled + span {opacity: 0.7;}
.checkbox:first-of-type {margin-left: 0;}
.checkbox {margin-left: 10rem;}


/* 타이틀  */
h1 {font-size: 18rem; font-weight: 700;}
h2 {font-size: 16rem; font-weight: 700; margin-top: 20rem; margin-bottom: 10rem; color:#94a3b8;}


/* ========================== START 레이아웃 ========================== */

.wrap {
    padding: 0rem; width: 100%; height: 100%;
    background: linear-gradient(-60deg, #0b1120, #0f172c, #3f1e3d);
}


/* 레이아웃 */
.header {width: 100%; border-bottom:1rem solid #394254 } 
.header .inner { width: 1280rem; height: 100rem; margin: 0 auto; padding: 20rem; box-sizing: border-box; display: flex; align-items: center; justify-content: space-between; border-radius: 10rem;} 
.header .inner .item {display: flex;align-items: center;}
.header .inner .item input {margin-left: 20rem;}
.header .inner h1 {width: 50rem; height: 50rem;}
.header .inner .gnb a {color: #94a3b8;font-weight: 500;}
.header .inner .gnb a + a {margin-left: 20rem;}

.header .inner .search {position: relative; margin-left: 20rem;}
.header .inner .search  button {position: absolute; top: 50%; transform: translate(0, -50%);}
.header .inner .search .clear-btn {right: 30rem; width: 18rem; height: 18rem; background: url(../img/common/icon_clear.svg); display: none;;}
.header .inner .search .search-btn {right: 10rem; width: 18rem; height: 18rem; background: url(../img/common/icon_zoom.svg); }

.header .inner .search input[type="text"] { font-size: 14rem; border-radius: 3rem; padding: 8rem; padding-right: 50rem; border: 1rem solid #293445; background-color: #1e293b; color:#94a3b8; }
.header .inner .search input[type="number"]{font-size: 14rem;}


.header .inner .util {margin-left: 20rem;}
.header .inner .util .git {display: block; width: 28rem; height: 28rem; background: url(../img/common/icon_git.svg);}


.container {width: 1280rem; padding-top: 20rem; margin: 0 auto}

.container-wrap {width: 1280rem; margin: 0 auto; height: 100%; position: relative; display: flex; }
.container-wrap .lnb {padding:20rem 10rem 0rem; width: 200rem; height: 100%; position: absolute; top: 0; overflow: auto;}
.container-wrap .lnb ul li {margin-bottom: 20rem;}
.container-wrap .lnb ul li button {color: #94a3b8; white-space: nowrap;}

.container-wrap .container {width: calc(100% - 200rem); height: 100%; border-left: 1rem solid #394254; padding: 0; padding-left: 50rem; margin-left: 200rem;}







/* 푸터 */
footer.footer {border-top: 1rem solid #394254; text-align: center; color:#94a3b8;;}
footer.footer .inner {max-width: 1280rem; margin: 0 auto; padding: 20rem; box-sizing: border-box;}
/* footer {position: fixed; bottom: 0; left: 0; width: 100%; font-size: 14px;  color:#fafafa }
footer .animate {width: 100%; transform : translateY(145px); padding: 20px; z-index: -1; position: absolute; left: 0; right: 0; bottom: 0; transition:  transform 1s ease-in; background-color: #000;   }
footer .fixed {padding: 20px; width: 100%;  color: #fff;   } */



/* ========================== END 레이아웃 ========================== */

/* 버튼 셋 */
.btn{display: inline-flex; justify-content: center; align-items: center; vertical-align:middle; cursor:pointer; white-space:nowrap; border: 1rem solid #777; background-color: #fff; color: #333; height: 40rem; padding:0 12rem; border-radius: 4rem; font-size: 14rem;}
.btn.db{display:block;}
.btn.xs{height: 24rem;min-width: 30rem;padding: 0 6rem;font-size: 12rem;line-height: 1;border-radius: 3rem;}
.btn.sm{height: 32rem;min-width: 30rem;padding: 0 14rem;font-size: 14rem;}
.btn.md{height: 48rem;min-width: 200rem;font-size: 16rem;font-weight: 500;}
.btn.lg{height: 60rem;min-width: 261rem;padding: 0 30rem;font-size: 18rem;font-weight: 500;}
.btn.xl{height: 70rem;min-width: 80rem;padding: 0 10rem;font-size: 18rem;font-weight: 700;}



.btn:disabled,
.btn.disabled{border-color: #d2d4d9; background-color: #fff; color: #d2d4d9;}
/* .btn.disabled[class*='ico-']:after,
.btn:disabled[class*='ico-']:after,
.btn.disabled[class*='ico-']:before,
.btn:disabled[class*='ico-']:before{opacity:0.3;} */

.btn.a{border-color: #409eff; background-color: #409eff; color:#fff;}
.btn.a:hover{border-color:#66b1ff; background-color: #66b1ff;}
.btn.a:disabled,
.btn.a.disabled{color: #b5bcc3; border-color: #e6eaf1; background-color: #e6eaf1;}
a.btn.disabled{ pointer-events: none; }

.btn.b{border-color: #e0e2e5; background-color: #e0e2e5; color: #242424;}
.btn.b:hover{border-color:#c3c6cb; background-color: #c3c6cb;}
.btn.b:disabled,
.btn.b.disabled{border-color: #e9eaed; background-color: #e9eaed; color: #bbb;}

.btn.c{border-color: #777; background-color:#fff; color: #242424;}
.btn.c:hover{border-color:#272b33; color: #272b33;}
.btn.c:disabled,
.btn.c.disabled{border-color: #d2d4d9; background-color: #fff; color: #d2d4d9;}

.btn.d{border-color: #bdc0c7; background-color:#fff; color: #242424; border-radius: 4rem;}
.btn.d:active{border-color:#272b33;}
.btn.d:disabled,
.btn.d.disabled{border-color: #d2d4d9; background-color: #fff; color: #d2d4d9;}

.btn.e{border-color: #f56c6c; background-color: #f56c6c; color:#fff;}
.btn.e:hover{border-color: #f78989; background-color: #f78989; color:#fff;}
.btn.e:disabled,
.btn.e.disabled{border-color: #e6eaf1; background-color: #e6eaf1; color: #b5bcc3;}

.btn.f{border-color: #4381e4; background-color: #ddeeff; color: #2166d4;}
.btn.f:disabled,
.btn.f.disabled{border-color: #bcd6ff; background-color: #f1f8ff; color: #bcd6ff;}
.btn.f.comp{border-color: #4381e4; background-color: #fff; color: #2166d4;}

.btn.g{border-color: #4381e4; background-color: #fff; color: #2166d4;}
.btn.g:disabled,
.btn.g.disabled{border-color: #bcd6ff; background-color: #fff; color: #bcd6ff;}




/* 스위치 */
.switch {display: inline-flex; position: relative; width: 60px; height: 30px; }
.switch input {display: none;}
.switch label {display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; transition: 0.4s; background-color: #ccc; border-radius: 30px;}
.switch label:after {content: ''; border-radius: 50%; background-color: #fff; width: 20px; height: 20px; position: absolute; top: 5px; left: 5px; transition: .4s; }
.switch input:checked + label {background-color: #2196F3;}
.switch input:checked + label:after {transform: translateX(30px);}



/* 탭 메뉴 */
.ui-tab {}
.ui-tab .tab-menu {display: flex; justify-content: space-between; align-items: center;}
.ui-tab .tab-menu button {display: inline-flex; justify-content: center; align-items: center; width: 100%; padding: 15rem; background-color: #94a3b8;}
.ui-tab .tab-menu button.isActive { background-color: #1e293b; color: #fff;}
.ui-tab .tab-content {}
.ui-tab .tab-content > div {display: none; padding: 20rem;  background-color: #1e293b;}
.ui-tab .tab-content > div.isActive {display: block;}






/* 인풋 레인지 입력 */
.range-box {width: 100%;  margin: 30px 0 35px; margin-bottom: 50px; box-sizing: border-box;}
.range-box .range-input {display: flex; margin-bottom: 20px; width: 100%;  margin:0 10rem 10rem;}
.range-box .input-box {display: flex; justify-content: space-between;}
.range-box .input-box .input-km {width: 100%;  position: relative;}
.range-box .input-box .input-km input {width: 100%; }
.range-box .input-box .input-km span {position: absolute; right:10rem; top: 50%; transform: translate(0 , -50%);}
.range-box .input-box input[type="number"]::-webkit-outer-spin-button,
.range-box .input-box input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.range-box .space {width: 100px; display: flex; align-items: center; justify-content: center;}


/* 인풋레인지 슬라이더 */
.range-box .range-wrap {width: 100%; height: 5px; border-radius: 5px; background: #394254; position: relative; }
.range-box .range-wrap .hidden {overflow: hidden; position: relative; height: 5rem}
.range-box .range-wrap .progress {height: 5px; border-radius: 5px; background: #C0D0FF; left: 0%; right: 0%; position: absolute; }
.range-box .range-wrap input{outline: 0; position: absolute; width: 100%; height: 5px; top: -2px; background: none; pointer-events: none; -webkit-appearance: none; -moz-appearance: none; }
.range-box .range-wrap input[type="range"]::-webkit-slider-thumb{ height: 20px; width: 20px; border-radius: 50%; background:#ccc url(../img/common/range_arrow.svg) no-repeat; background-position: center; background-size: 50%; pointer-events: auto; box-shadow: 0 0 6px rgba(0,0,0,0.05); margin:0 -2px; -webkit-appearance: none;}
.range-box .range-wrap input[type="range"]:focus::-webkit-slider-thumb{outline: 1px auto -webkit-focus-ring-color; outline-color: rgba(0, 114, 255,0.2); outline-style: solid; }
.range-box .range-wrap input[type="range"].range-min::-webkit-slider-thumb {transform: scaleX(-1);}
.range-box .range-wrap input[type="range"].range-min::-moz-range-thumb {transform: scaleX(-1);}
.range-box .range-wrap input[type="range"]::-moz-range-thumb{height: 20px; width: 20px; border: none; border-radius: 50%; background:#ccc url(../img/common/range_arrow.svg) no-repeat; background-position: center; background-size: 50%; pointer-events: auto; box-shadow: 0 0 6px rgba(0,0,0,0.05); margin:0 -2px; -moz-appearance: none; }

.range-box .range-wrap .item-box {width: 100%; margin-top: 10rem;}
.range-box .range-wrap .item-box .left-txt {background: #333; border-radius: 3rem; color:#fff; text-align: center; padding: 5rem; position: absolute; top:30rem; min-width: 50rem;  }
.range-box .range-wrap .item-box .right-txt {background: #333; border-radius: 3rem; color:#fff;  text-align: center; padding: 5rem; position: absolute; top:30rem; right:0; min-width: 60rem;}
.range-box .range-wrap .item-box .left-txt::after,
.range-box .range-wrap .item-box .right-txt::after {display: block; content:''; background: #333; width: 8rem; height: 8rem; position: absolute; left:50%; top: 0rem; transform: rotate(45deg) translate( -50%, 0);}



/* 아코디언 */
.accordion {}
.accordion li { border-bottom: 1px solid #0b1120; }
.accordion li .headBtn {width: 100%; padding: 15rem; font-weight: 700; background-color: #1e293b; text-align: left; color: #94a3b8;}
.accordion li.isActive .headBtn {background-color: #1e293b; color: #fff}
.accordion li .content {opacity: 0; height: 0; overflow: hidden; display:none; transition: opacity 0.3s, height 0.3s;}
.accordion li .content .inner { padding: 15rem; }
.accordion li.isActive .content{ opacity: 1; }

.accordion2 {}
.accordion2 li { border-bottom: 1px solid #0b1120;}
.accordion2 li .headBtn {width: 100%; padding: 15rem; font-weight: 700; background-color: #1e293b; text-align: left; color: #94a3b8;}
.accordion2 li.isActive .headBtn {background-color: #1e293b; color: #fff}
.accordion2 li .content {opacity: 0; height: 0; overflow: hidden; display:none; transition: opacity 0.3s, height 0.3s;}
.accordion2 li .content .inner { padding: 15rem; }
.accordion2 li.isActive .content{ opacity: 1; }




/* 테이블 */
.ui-table .table-list {width: 100%;}
.ui-table .table-list th {padding: 10rem; background: #293445; color: #94a3b8; border: 1rem solid #394254;}
.ui-table .table-list tr:first-of-type td {border-top: 0;}
.ui-table .table-list td {border: 1rem solid #394254; padding: 10rem; color: #94a3b8;}
.ui-table .table-list.project td img:first-of-type {margin-left: 0;}
.ui-table .table-list.project td img {margin-right: 5rem}
/* .ui-table .table-list tr:nth-child(even) td {background: #fafafa;} */






.profile-wrap {display: flex; align-items: center; justify-content: space-between; margin-bottom: 20rem;}
.profile-wrap .profile {background: #0f172a; padding: 20rem; border-radius: 10rem; width: 100%; position: relative;}
.profile-wrap .profile pre {color:#94a3b8; font-family: 'Pretendard'; font-weight: normal; line-height: 24rem}
.profile-wrap .profile .photo {width: 200rem; height: 200rem; border: 1rem solid #394254; border-radius: 50%; overflow: hidden; position: absolute; right: 40rem; top: 50%; transform: translate(0, -50%);  }






/* 스타일 컴보박스 */
.styled-combo { border-radius: 4rem; position: relative;}
.styled-combo.isActive .custom-select-box{ display: block;}
.styled-combo.isActive .combo-title::after {display: block; content:''; transform: translate(0, -50%) rotate(-180deg)/*; transition: all .5s;*/}
.styled-combo .combo-title {font-size: 14rem; padding: 10rem; border: 1rem solid #C0D0FF; border-radius: 5rem; position: relative;}
.styled-combo .combo-title::after {display: block; content:''; background: url(../img/common/icon_arrow.svg) no-repeat; width:20rem; height:20rem; position: absolute; top: 50%; right:20rem; transform: translate(0, -50%) rotate(0deg);}
.styled-combo .custom-select-box {display: none; border: 1rem solid #C0D0FF; border-radius: 5rem; position: absolute; top: 42rem; left:0; right:0; z-index: 1;;}
.styled-combo .custom-select-box ul {}
.styled-combo .custom-select-box ul li:first-of-type {border-top: 0;}
.styled-combo .custom-select-box ul li {padding: 10rem; border-top: 1rem solid #C0D0FF; background: #fff;}











/* 팝업 알럿 */
.isAlert {position: relative; overflow: hidden;}
.isAlert::after {content:''; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3);  white-space: nowrap; }
.ui-alert {display:block; position: fixed; top: 50%; left: 50%; z-index:10; width: 400rem; transform: translate(-50%, -50%); font-size: 14rem; white-space: normal; background-color: #fff; border-radius: 8rem;}
.ui-alert .pop-header {display: flex; justify-content: space-between; align-items: center; padding: 20rem;}
.ui-alert .pop-header h3{font-size: 16rem; font-weight: 700}
.ui-alert .pop-content {padding: 20rem;}
.ui-alert .pop-footer {padding: 20rem; display: flex; justify-content: space-between; align-items: center}
.ui-alert .pop-footer .btn {width: 100%;}



















/* 모달 팝업 */
.isPopup {position: relative; overflow: hidden;}
.isPopup::after {content:''; position: fixed; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); z-index:10}

.ui-popup {display: none; position: fixed; z-index:11; width: 100%; font-size: 14rem;  background-color: #fff; border-radius: 8rem; max-height: 100%;}
.ui-popup .pop-header {display: flex; justify-content: space-between; align-items: center; padding: 20rem;}
.ui-popup .pop-header h3{font-size: 16rem; font-weight: 700}
.ui-popup .pop-content {padding: 0rem;  overflow: auto;}
.ui-popup .pop-content .inner {padding: 20rem; box-sizing: border-box;}
.ui-popup .pop-footer {padding: 20rem;}
.ui-popup .pop-footer .btn {width: 100%;}
.ui-popup.isAnimated {transition: all 0.3s;}

.ui-popup.top { border-radius: 0 0 8rem 8rem}
.ui-popup.center { width: calc(100% - 40rem); height: auto; top:50%; left:50%; transform : translate(-50%, -55%);}
.ui-popup.bottom { }









/* swiper js css */
.container-swiper {width: 100%; height: 400rem;}
.swiper {width: 100%; height: 100%; }
.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; }
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover; }
.swiper {width: 100%; height: 300px; margin-left: auto; margin-right: auto; }
.swiper-slide {background-size: cover; background-position: center; }
.mySwiper2 {height: 80%; width: 100%; }
.mySwiper {height: 20%; box-sizing: border-box; padding: 10px 0; }
.mySwiper .swiper-slide {width: 25%; height: 100%; opacity: 0.4; }
.mySwiper .swiper-slide-thumb-active {opacity: 1;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover; }

/* 스와이퍼 팝업 */
.swiperPopup .pop-footer {display: none; height: 0; width: 0; overflow: hidden;}







@media screen and (max-width: 1200px) {
    
    .header .inner {width: 100%; }
    .container-wrap {width: 100%;}
    .container {width: 100%;}
}





/* 작은 화면(예: 스마트폰)에 대한 스타일 */
@media screen and (max-width: 600px) {
    /* 여기에 작은 화면용 스타일을 추가하세요 */
}

/* 중간 크기의 화면(예: 태블릿)에 대한 스타일 */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* 여기에 중간 크기의 화면용 스타일을 추가하세요 */
}

/* 큰 화면(예: 데스크톱)에 대한 스타일 */
@media screen and (min-width: 1025px) {
    /* 여기에 큰 화면용 스타일을 추가하세요 */
}



/* iOS 기기에 대한 스타일 */
@media only screen and (max-device-width: 480px) {
    /* 여기에 iOS 기기용 스타일을 추가하세요 */
}

/* 안드로이드 기기에 대한 스타일 */
@media only screen and (max-device-width: 800px) {
    /* 여기에 안드로이드 기기용 스타일을 추가하세요 */
}

/* Retina 디스플레이에 대한 스타일 */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* 여기에 Retina 디스플레이용 스타일을 추가하세요 */
}


/* iOS의 Safe Area에 따른 스타일 조절 */
@media (max-width: 768px) {
    body {
        padding: 15px 0 calc(constant(safe-area-inset-bottom) + 15px);
        padding: 15px 0 calc(env(safe-area-inset-bottom) + 15px);
    }
}
